module tgtd-socket 1.0;

require {
    type tgtd_t;
    type initrc_t;
    type var_lib_t;
    class sock_file write;
    class unix_stream_socket connectto;
}

allow tgtd_t initrc_t:unix_stream_socket connectto;
allow tgtd_t var_lib_t:sock_file write;
